
main{
    height: 100vh             ;
    background-color: green;
    display: flex;
    flex-direction: column;
    
}
html,body{
    height: 100%;
}
#hed{
height: 200px;
    background-color: black;
    width: 1600px;
color: aliceblue;
}
a{
    font-size: 50px;
padding-left: 500px;
}

#foot{
background-color: red;
width: 1600px;
height: 100vh;

}
#main{
    flex-direction: column;
}
